// -------------------------------------------------- //
// Mobile                                             //
// -------------------------------------------------- //

// LIST //
.list-container {
  display: flex;
  position: relative;
  justify-content: center;
  top: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  width: 270px;
  font-size: 1.5rem;
  margin: 18px;
  border-radius: 8px;
}

.done {
  text-decoration: line-through;
  background-color: green;
}
// -------------------------------------------------- //
// Tablet                                             //
// -------------------------------------------------- //

@media screen and (min-width: 768px) {
  .list-container {
    display: flex;
    position: relative;
    justify-content: center;
    top: 40px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 10px;
    border: 1px solid #ccc;
    width: 400px;
    font-size: 1.5rem;
    margin: 18px;
    border-radius: 8px;
  }
}

// -------------------------------------------------- //
// Desktop                                            //
// -------------------------------------------------- //

@media screen and (min-width: 1024px) {
}
